body {
    background-color: #169B62; /* Verde da bandeira da Irlanda */
    color: #FFFFFF;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #FF883E; /* Laranja da bandeira da Irlanda */
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #FF6A00;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}
